@import "../../app.component.scss";

.img-circle{
  position: absolute;
  width: 130px;
  height: 130px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #F9C53D;
  position: absolute;
  left: 25%;
}

.col-login {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.col.mid {
  display: grid;
  justify-items: center;
}

input.form-control {
  width: 300px;
}

.content-head{
  background-color: #3AAF9F;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10% 0% 0% 10%;
  width: 35%;
  margin: 3rem 0 3rem 0;
  opacity: 0.98;
  max-width: 43rem;
}

.form-signin span{
  margin-top: -12px;
  margin-bottom: 12px;
  display: flex;
}

.w-forget{
  border: solid;
  padding: 14px;
  border-radius: 25px;
  margin: 10px;
  border-width: 1px;
}

a:hover{
  color: #632E7F;
}

label {
  display: inline-block;
  font-weight: 700;
}

.icon-load:before {
  margin-right: 10px;
  -webkit-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  display: inline-block;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-green{
  color: #3AAF9F;
}

.form-signin .title{
  font-size: 25px;
}

.form-signin {
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  width: 55%;
  height: 470px;
  margin: 3rem 0;
  background-color: #FFFFFF;
  box-shadow: 2px 7px 7px 0px rgba(0,0,0,0.22);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 0% 10% 10% 0%;
  max-width: 43rem;
}

.form-signin img{
  transition: all 0.3s;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.form-signin img:hover{
  opacity: 0.8;
  transition: all 0.3s;
}

.form-signin form input{
  margin-bottom: 12px;
  height: 34px;
  font-size: 14px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer{
  color: #fff;
  font-size: 16px;
}

.mid{
  padding: 0 4em;
}


.reloading{
	width: 40px;
  height: 40px;
  margin-top: 15px;
}


#captcha_id{
  min-height: 70px;
}

.lang_select{
  position: absolute;
  right: 20px;
  text-align: right;
}

.lang_select .esp,
.lang_select .eng{
  height: 16px;
  width: 24px;
  display: inline-block;
  opacity: 0.5;
}

.lang_select .esp:hover,
.lang_select .eng:hover{  
  opacity: 1;
}

.bg-white
{
	background: #FFF;	
}


/* quitar focus en los botones */

.btn:focus, .btn:active, button:active, button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.col.mid.cont-text-left{
  justify-items: center;
}
.msg-error{
  margin-left: -79px;
}

@media (max-width: 1152px){
  .forget {
    display: flex;
    flex-direction: column;
  }
  .w-forget {
    text-align: center;
  }
  .img-circle {
    left: 59%;
  }
  .object-options .cart-content {
    min-height: 12rem;
    min-width: 14rem;
  }

  .object-options{
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 856px){

  input.form-control {
    width: 100%;
  }

  .form-signin {
    width: 100%;
    margin: 0rem 0rem 3rem 0rem;
    border-radius: 0% 0% 0% 0%;
  }
  
  .col-login {
    flex-direction: column;
  }
  .content-head {
    width: 100%;
    border-radius: 10% 10% 0% 0%;
    margin: 3rem 0 0 0;
  }
  .forget {
    display: flex;
    flex-direction: column;
  }
  .w-forget {
    text-align: center;
  }
}