<div class="content">
<div class="container-body">
  <div class="container-fluid">
    <div class="row-login">
        <div class="col-lg-5 col col-md-12 col-login">
          <div class="content-head d-flex">
            <h2>Te brindamos este sitio para tú beneficio!</h2>
            <p>Con estas dos opciones puedes reportar o buscar objetos que perdiste</p>
            <br><br><br>
          </div>
          <div class="form-signin">
            <div class="col">

              <div class="col-12 p-0 d-flex object-options">
                <div class="col-3 p-0 cart-content" (click)="redirectFind()">
                  <div class="cart-head">
                    <strong>Buscar objeto</strong>
                  </div>
                  <div class="cart-body">
                    <div class="cart-keyword-image d-flex">
                      <i class="icon-search home-icon-size"></i>
                    </div>
                  </div>
                </div>
                <!--Second Option-->
                <div class="col-3 p-0 cart-content card-content-right" (click)="redirectAdd()">
                  <div class="cart-head">
                    <strong>Agregar objeto</strong>
                  </div>
                  <div class="cart-body">
                    <div class="cart-keyword-image d-flex">
                      <i class="icon-new-tab home-icon-size"></i>
                    </div>
                  </div>
                </div>
              </div>
                
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>