<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">Cargando...</p>
</ngx-spinner>
<div  class="content-page d-flex">
  <div  class="content-head">
    <h2>Buscar</h2>
    <p>Aquí puedes encontrar lo que estas buscando, solo diligencia el formulario y da clic al botón Buscar</p>
  </div>
  <div  class="content-form">
        <br>

        <app-alert-navigator [data]="alertDto"> </app-alert-navigator>
        
  </div>
</div>