<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">Cargando...</p>
</ngx-spinner>
<div class="content">
<div class="img-circle"></div>
<div class="container-body">
  <div class="container-fluid">
    <div class="row-login"> 
        <div class="col-lg-5 col col-md-12 col-login">
          <div class="content-head d-flex">
            <h2>Registrate de una manera facíl!</h2>
            <p>Ingresa tú correo y da clic en <strong>Registrarme</strong> <br><br>
              Llegará un mensaje a tú correo, ingresa y sigue los pasos que te indicamos allí</p>
            <br><br><br>
            <div class="forget">
              <a (click)="backhome()" class="w-forget"><strong>Regresar</strong></a>
            </div>
          </div>
          <div class="form-signin">
            <div class="col">
              <form #formLogin="ngForm" (ngSubmit)="onSubmit()" >
                <div class="col mid">
                  <p class="text-green title"><strong>Registrarme</strong></p>
                </div>
                
                <div class="col mid">
                  <input type="text" class="form-control" placeholder="EMAIL"  value="{{user}}" autocomplete="off" name="username" #username="ngModel" [(ngModel)]="user" required>
                </div>
                <div class="col mid cont-text-left msg-error">
                    <span *ngIf="!username.valid && username.touched">Este campo es obligatorio*</span>
                </div>     
                <div class="col mid">						
                  <div class="recaptcha">
                    <!-- <re-captcha (resolved)="resolved($event)" 
                                name="recaptcha" #recaptcha="ngModel" [(ngModel)]="captchaResponse"
                                siteKey="6LeADqpafI2vWwCO_GkY_rTfpDa">  
                    </re-captcha> -->
                  </div>
                  <br>           
                  
                  <label *ngIf="null != msgError && '' != msgError" class="alert alert-warning" style="width: 100%;">
                    {{msgError}}
                  </label>
                </div>	
                
                <div class="col mid text-center">
                  <button type="submit" class="btn btn-third" [disabled]="!formLogin.form.valid">
                    <i class="icon-load" [class.d-none]="!isSubmit"></i> 
                     Registrarme
                   </button>
                </div>
                
               </form> 
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>